.base{
color: #fbf6f3;
}
.pink{
    color: #ecd3cb;
}
.brown{
    color: #999999;
}


.b-m1 {
    margin-bottom: 1px
}

.b-m2 {
    margin-bottom: 2px
}

.b-m3 {
    margin-bottom: 3px
}

.b-m4 {
    margin-bottom: 4px
}

.b-m5 {
    margin-bottom: 5px
}

.b-m6 {
    margin-bottom: 6px
}

.b-m7 {
    margin-bottom: 7px
}

.b-m8 {
    margin-bottom: 8px
}

.b-m9 {
    margin-bottom: 9px
}

.b-m10 {
    margin-bottom: 10px
}

.b-m11 {
    margin-bottom: 11px
}

.b-m12 {
    margin-bottom: 12px
}

.b-m13 {
    margin-bottom: 13px
}

.b-m14 {
    margin-bottom: 14px
}

.b-m15 {
    margin-bottom: 15px
}

.b-m16 {
    margin-bottom: 16px
}

.b-m17 {
    margin-bottom: 17px
}

.b-m18 {
    margin-bottom: 18px
}

.b-m19 {
    margin-bottom: 19px
}

.b-m20 {
    margin-bottom: 20px
}

.b-m21 {
    margin-bottom: 21px
}

.b-m22 {
    margin-bottom: 22px
}

.b-m23 {
    margin-bottom: 23px
}

.b-m24 {
    margin-bottom: 24px
}

.b-m25 {
    margin-bottom: 25px
}

.b-m26 {
    margin-bottom: 26px
}

.b-m27 {
    margin-bottom: 27px
}

.b-m28 {
    margin-bottom: 28px
}

.b-m29 {
    margin-bottom: 29px
}

.b-m30 {
    margin-bottom: 30px
}

.b-m31 {
    margin-bottom: 31px
}

.b-m32 {
    margin-bottom: 32px
}

.b-m33 {
    margin-bottom: 33px
}

.b-m34 {
    margin-bottom: 34px
}

.b-m35 {
    margin-bottom: 35px
}

.b-m36 {
    margin-bottom: 36px
}

.b-m37 {
    margin-bottom: 37px
}

.b-m38 {
    margin-bottom: 38px
}

.b-m39 {
    margin-bottom: 39px
}

.b-m40 {
    margin-bottom: 40px
}

.b-m41 {
    margin-bottom: 41px
}

.b-m42 {
    margin-bottom: 42px
}

.b-m43 {
    margin-bottom: 43px
}

.b-m44 {
    margin-bottom: 44px
}

.b-m45 {
    margin-bottom: 45px
}

.b-m46 {
    margin-bottom: 46px
}

.b-m47 {
    margin-bottom: 47px
}

.b-m48 {
    margin-bottom: 48px
}

.b-m49 {
    margin-bottom: 49px
}

.b-m50 {
    margin-bottom: 50px
}

.b-m51 {
    margin-bottom: 51px
}

.b-m52 {
    margin-bottom: 52px
}

.b-m53 {
    margin-bottom: 53px
}

.b-m54 {
    margin-bottom: 54px
}

.b-m55 {
    margin-bottom: 55px
}

.b-m56 {
    margin-bottom: 56px
}

.b-m57 {
    margin-bottom: 57px
}

.b-m58 {
    margin-bottom: 58px
}

.b-m59 {
    margin-bottom: 59px
}

.b-m60 {
    margin-bottom: 60px
}

.b-m61 {
    margin-bottom: 61px
}

.b-m62 {
    margin-bottom: 62px
}

.b-m63 {
    margin-bottom: 63px
}

.b-m64 {
    margin-bottom: 64px
}

.b-m65 {
    margin-bottom: 65px
}

.b-m66 {
    margin-bottom: 66px
}

.b-m67 {
    margin-bottom: 67px
}

.b-m68 {
    margin-bottom: 68px
}

.b-m69 {
    margin-bottom: 69px
}

.b-m70 {
    margin-bottom: 70px
}

.b-m71 {
    margin-bottom: 71px
}

.b-m72 {
    margin-bottom: 72px
}

.b-m73 {
    margin-bottom: 73px
}

.b-m74 {
    margin-bottom: 74px
}

.b-m75 {
    margin-bottom: 75px
}

.b-m76 {
    margin-bottom: 76px
}

.b-m77 {
    margin-bottom: 77px
}

.b-m78 {
    margin-bottom: 78px
}

.b-m79 {
    margin-bottom: 79px
}

.b-m80 {
    margin-bottom: 80px
}

.b-m81 {
    margin-bottom: 81px
}

.b-m82 {
    margin-bottom: 82px
}

.b-m83 {
    margin-bottom: 83px
}

.b-m84 {
    margin-bottom: 84px
}

.b-m85 {
    margin-bottom: 85px
}

.b-m86 {
    margin-bottom: 86px
}

.b-m87 {
    margin-bottom: 87px
}

.b-m88 {
    margin-bottom: 88px
}

.b-m89 {
    margin-bottom: 89px
}

.b-m90 {
    margin-bottom: 90px
}

.b-m91 {
    margin-bottom: 91px
}

.b-m92 {
    margin-bottom: 92px
}

.b-m93 {
    margin-bottom: 93px
}

.b-m94 {
    margin-bottom: 94px
}

.b-m95 {
    margin-bottom: 95px
}

.b-m96 {
    margin-bottom: 96px
}

.b-m97 {
    margin-bottom: 97px
}

.b-m98 {
    margin-bottom: 98px
}

.b-m99 {
    margin-bottom: 99px
}

.b-m100 {
    margin-bottom: 100px
}

.b-m101 {
    margin-bottom: 101px
}

.b-m102 {
    margin-bottom: 102px
}

.b-m103 {
    margin-bottom: 103px
}

.b-m104 {
    margin-bottom: 104px
}

.b-m105 {
    margin-bottom: 105px
}

.b-m106 {
    margin-bottom: 106px
}

.b-m107 {
    margin-bottom: 107px
}

.b-m108 {
    margin-bottom: 108px
}

.b-m109 {
    margin-bottom: 109px
}

.b-m110 {
    margin-bottom: 110px
}

.b-m111 {
    margin-bottom: 111px
}

.b-m112 {
    margin-bottom: 112px
}

.b-m113 {
    margin-bottom: 113px
}

.b-m114 {
    margin-bottom: 114px
}

.b-m115 {
    margin-bottom: 115px
}

.b-m116 {
    margin-bottom: 116px
}

.b-m117 {
    margin-bottom: 117px
}

.b-m118 {
    margin-bottom: 118px
}

.b-m119 {
    margin-bottom: 119px
}

.b-m120 {
    margin-bottom: 120px
}

.t-m1 {
    margin-top: 1px
}

.t-m2 {
    margin-top: 2px
}

.t-m3 {
    margin-top: 3px
}

.t-m4 {
    margin-top: 4px
}

.t-m5 {
    margin-top: 5px
}

.t-m6 {
    margin-top: 6px
}

.t-m7 {
    margin-top: 7px
}

.t-m8 {
    margin-top: 8px
}

.t-m9 {
    margin-top: 9px
}

.t-m10 {
    margin-top: 10px
}

.t-m11 {
    margin-top: 11px
}

.t-m12 {
    margin-top: 12px
}

.t-m13 {
    margin-top: 13px
}

.t-m14 {
    margin-top: 14px
}

.t-m15 {
    margin-top: 15px
}

.t-m16 {
    margin-top: 16px
}

.t-m17 {
    margin-top: 17px
}

.t-m18 {
    margin-top: 18px
}

.t-m19 {
    margin-top: 19px
}

.t-m20 {
    margin-top: 20px
}

.t-m21 {
    margin-top: 21px
}

.t-m22 {
    margin-top: 22px
}

.t-m23 {
    margin-top: 23px
}

.t-m24 {
    margin-top: 24px
}

.t-m25 {
    margin-top: 25px
}

.t-m26 {
    margin-top: 26px
}

.t-m27 {
    margin-top: 27px
}

.t-m28 {
    margin-top: 28px
}

.t-m29 {
    margin-top: 29px
}

.t-m30 {
    margin-top: 30px
}

.t-m31 {
    margin-top: 31px
}

.t-m32 {
    margin-top: 32px
}

.t-m33 {
    margin-top: 33px
}

.t-m34 {
    margin-top: 34px
}

.t-m35 {
    margin-top: 35px
}

.t-m36 {
    margin-top: 36px
}

.t-m37 {
    margin-top: 37px
}

.t-m38 {
    margin-top: 38px
}

.t-m39 {
    margin-top: 39px
}

.t-m40 {
    margin-top: 40px
}

.t-m41 {
    margin-top: 41px
}

.t-m42 {
    margin-top: 42px
}

.t-m43 {
    margin-top: 43px
}

.t-m44 {
    margin-top: 44px
}

.t-m45 {
    margin-top: 45px
}

.t-m46 {
    margin-top: 46px
}

.t-m47 {
    margin-top: 47px
}

.t-m48 {
    margin-top: 48px
}

.t-m49 {
    margin-top: 49px
}

.t-m50 {
    margin-top: 50px
}

.t-m51 {
    margin-top: 51px
}

.t-m52 {
    margin-top: 52px
}

.t-m53 {
    margin-top: 53px
}

.t-m54 {
    margin-top: 54px
}

.t-m55 {
    margin-top: 55px
}

.t-m56 {
    margin-top: 56px
}

.t-m57 {
    margin-top: 57px
}

.t-m58 {
    margin-top: 58px
}

.t-m59 {
    margin-top: 59px
}

.t-m60 {
    margin-top: 60px
}

.t-m61 {
    margin-top: 61px
}

.t-m62 {
    margin-top: 62px
}

.t-m63 {
    margin-top: 63px
}

.t-m64 {
    margin-top: 64px
}

.t-m65 {
    margin-top: 65px
}

.t-m66 {
    margin-top: 66px
}

.t-m67 {
    margin-top: 67px
}

.t-m68 {
    margin-top: 68px
}

.t-m69 {
    margin-top: 69px
}

.t-m70 {
    margin-top: 70px
}

.t-m71 {
    margin-top: 71px
}

.t-m72 {
    margin-top: 72px
}

.t-m73 {
    margin-top: 73px
}

.t-m74 {
    margin-top: 74px
}

.t-m75 {
    margin-top: 75px
}

.t-m76 {
    margin-top: 76px
}

.t-m77 {
    margin-top: 77px
}

.t-m78 {
    margin-top: 78px
}

.t-m79 {
    margin-top: 79px
}

.t-m80 {
    margin-top: 80px
}

.t-m81 {
    margin-top: 81px
}

.t-m82 {
    margin-top: 82px
}

.t-m83 {
    margin-top: 83px
}

.t-m84 {
    margin-top: 84px
}

.t-m85 {
    margin-top: 85px
}

.t-m86 {
    margin-top: 86px
}

.t-m87 {
    margin-top: 87px
}

.t-m88 {
    margin-top: 88px
}

.t-m89 {
    margin-top: 89px
}

.t-m90 {
    margin-top: 90px
}

.t-m91 {
    margin-top: 91px
}

.t-m92 {
    margin-top: 92px
}

.t-m93 {
    margin-top: 93px
}

.t-m94 {
    margin-top: 94px
}

.t-m95 {
    margin-top: 95px
}

.t-m96 {
    margin-top: 96px
}

.t-m97 {
    margin-top: 97px
}

.t-m98 {
    margin-top: 98px
}

.t-m99 {
    margin-top: 99px
}

.t-m100 {
    margin-top: 100px
}

.t-m101 {
    margin-top: 101px
}

.t-m102 {
    margin-top: 102px
}

.t-m103 {
    margin-top: 103px
}

.t-m104 {
    margin-top: 104px
}

.t-m105 {
    margin-top: 105px
}

.t-m106 {
    margin-top: 106px
}

.t-m107 {
    margin-top: 107px
}

.t-m108 {
    margin-top: 108px
}

.t-m109 {
    margin-top: 109px
}

.t-m110 {
    margin-top: 110px
}

.t-m111 {
    margin-top: 111px
}

.t-m112 {
    margin-top: 112px
}

.t-m113 {
    margin-top: 113px
}

.t-m114 {
    margin-top: 114px
}

.t-m115 {
    margin-top: 115px
}

.t-m116 {
    margin-top: 116px
}

.t-m117 {
    margin-top: 117px
}

.t-m118 {
    margin-top: 118px
}

.t-m119 {
    margin-top: 119px
}

.t-m120 {
    margin-top: 120px
}

.r-m1 {
    margin-right: 1px
}

.r-m2 {
    margin-right: 2px
}

.r-m3 {
    margin-right: 3px
}

.r-m4 {
    margin-right: 4px
}

.r-m5 {
    margin-right: 5px
}

.r-m6 {
    margin-right: 6px
}

.r-m7 {
    margin-right: 7px
}

.r-m8 {
    margin-right: 8px
}

.r-m9 {
    margin-right: 9px
}

.r-m10 {
    margin-right: 10px
}

.r-m11 {
    margin-right: 11px
}

.r-m12 {
    margin-right: 12px
}

.r-m13 {
    margin-right: 13px
}

.r-m14 {
    margin-right: 14px
}

.r-m15 {
    margin-right: 15px
}

.r-m16 {
    margin-right: 16px
}

.r-m17 {
    margin-right: 17px
}

.r-m18 {
    margin-right: 18px
}

.r-m19 {
    margin-right: 19px
}

.r-m20 {
    margin-right: 20px
}

.r-m21 {
    margin-right: 21px
}

.r-m22 {
    margin-right: 22px
}

.r-m23 {
    margin-right: 23px
}

.r-m24 {
    margin-right: 24px
}

.r-m25 {
    margin-right: 25px
}

.r-m26 {
    margin-right: 26px
}

.r-m27 {
    margin-right: 27px
}

.r-m28 {
    margin-right: 28px
}

.r-m29 {
    margin-right: 29px
}

.r-m30 {
    margin-right: 30px
}

.r-m31 {
    margin-right: 31px
}

.r-m32 {
    margin-right: 32px
}

.r-m33 {
    margin-right: 33px
}

.r-m34 {
    margin-right: 34px
}

.r-m35 {
    margin-right: 35px
}

.r-m36 {
    margin-right: 36px
}

.r-m37 {
    margin-right: 37px
}

.r-m38 {
    margin-right: 38px
}

.r-m39 {
    margin-right: 39px
}

.r-m40 {
    margin-right: 40px
}

.r-m41 {
    margin-right: 41px
}

.r-m42 {
    margin-right: 42px
}

.r-m43 {
    margin-right: 43px
}

.r-m44 {
    margin-right: 44px
}

.r-m45 {
    margin-right: 45px
}

.r-m46 {
    margin-right: 46px
}

.r-m47 {
    margin-right: 47px
}

.r-m48 {
    margin-right: 48px
}

.r-m49 {
    margin-right: 49px
}

.r-m50 {
    margin-right: 50px
}

.r-m51 {
    margin-right: 51px
}

.r-m52 {
    margin-right: 52px
}

.r-m53 {
    margin-right: 53px
}

.r-m54 {
    margin-right: 54px
}

.r-m55 {
    margin-right: 55px
}

.r-m56 {
    margin-right: 56px
}

.r-m57 {
    margin-right: 57px
}

.r-m58 {
    margin-right: 58px
}

.r-m59 {
    margin-right: 59px
}

.r-m60 {
    margin-right: 60px
}

.r-m61 {
    margin-right: 61px
}

.r-m62 {
    margin-right: 62px
}

.r-m63 {
    margin-right: 63px
}

.r-m64 {
    margin-right: 64px
}

.r-m65 {
    margin-right: 65px
}

.r-m66 {
    margin-right: 66px
}

.r-m67 {
    margin-right: 67px
}

.r-m68 {
    margin-right: 68px
}

.r-m69 {
    margin-right: 69px
}

.r-m70 {
    margin-right: 70px
}

.r-m71 {
    margin-right: 71px
}

.r-m72 {
    margin-right: 72px
}

.r-m73 {
    margin-right: 73px
}

.r-m74 {
    margin-right: 74px
}

.r-m75 {
    margin-right: 75px
}

.r-m76 {
    margin-right: 76px
}

.r-m77 {
    margin-right: 77px
}

.r-m78 {
    margin-right: 78px
}

.r-m79 {
    margin-right: 79px
}

.r-m80 {
    margin-right: 80px
}

.r-m81 {
    margin-right: 81px
}

.r-m82 {
    margin-right: 82px
}

.r-m83 {
    margin-right: 83px
}

.r-m84 {
    margin-right: 84px
}

.r-m85 {
    margin-right: 85px
}

.r-m86 {
    margin-right: 86px
}

.r-m87 {
    margin-right: 87px
}

.r-m88 {
    margin-right: 88px
}

.r-m89 {
    margin-right: 89px
}

.r-m90 {
    margin-right: 90px
}

.r-m91 {
    margin-right: 91px
}

.r-m92 {
    margin-right: 92px
}

.r-m93 {
    margin-right: 93px
}

.r-m94 {
    margin-right: 94px
}

.r-m95 {
    margin-right: 95px
}

.r-m96 {
    margin-right: 96px
}

.r-m97 {
    margin-right: 97px
}

.r-m98 {
    margin-right: 98px
}

.r-m99 {
    margin-right: 99px
}

.r-m100 {
    margin-right: 100px
}

.r-m101 {
    margin-right: 101px
}

.r-m102 {
    margin-right: 102px
}

.r-m103 {
    margin-right: 103px
}

.r-m104 {
    margin-right: 104px
}

.r-m105 {
    margin-right: 105px
}

.r-m106 {
    margin-right: 106px
}

.r-m107 {
    margin-right: 107px
}

.r-m108 {
    margin-right: 108px
}

.r-m109 {
    margin-right: 109px
}

.r-m110 {
    margin-right: 110px
}

.r-m111 {
    margin-right: 111px
}

.r-m112 {
    margin-right: 112px
}

.r-m113 {
    margin-right: 113px
}

.r-m114 {
    margin-right: 114px
}

.r-m115 {
    margin-right: 115px
}

.r-m116 {
    margin-right: 116px
}

.r-m117 {
    margin-right: 117px
}

.r-m118 {
    margin-right: 118px
}

.r-m119 {
    margin-right: 119px
}

.r-m120 {
    margin-right: 120px
}

.l-m1 {
    margin-left: 1px
}

.l-m2 {
    margin-left: 2px
}

.l-m3 {
    margin-left: 3px
}

.l-m4 {
    margin-left: 4px
}

.l-m5 {
    margin-left: 5px
}

.l-m6 {
    margin-left: 6px
}

.l-m7 {
    margin-left: 7px
}

.l-m8 {
    margin-left: 8px
}

.l-m9 {
    margin-left: 9px
}

.l-m10 {
    margin-left: 10px
}

.l-m11 {
    margin-left: 11px
}

.l-m12 {
    margin-left: 12px
}

.l-m13 {
    margin-left: 13px
}

.l-m14 {
    margin-left: 14px
}

.l-m15 {
    margin-left: 15px
}

.l-m16 {
    margin-left: 16px
}

.l-m17 {
    margin-left: 17px
}

.l-m18 {
    margin-left: 18px
}

.l-m19 {
    margin-left: 19px
}

.l-m20 {
    margin-left: 20px
}

.l-m21 {
    margin-left: 21px
}

.l-m22 {
    margin-left: 22px
}

.l-m23 {
    margin-left: 23px
}

.l-m24 {
    margin-left: 24px
}

.l-m25 {
    margin-left: 25px
}

.l-m26 {
    margin-left: 26px
}

.l-m27 {
    margin-left: 27px
}

.l-m28 {
    margin-left: 28px
}

.l-m29 {
    margin-left: 29px
}

.l-m30 {
    margin-left: 30px
}

.l-m31 {
    margin-left: 31px
}

.l-m32 {
    margin-left: 32px
}

.l-m33 {
    margin-left: 33px
}

.l-m34 {
    margin-left: 34px
}

.l-m35 {
    margin-left: 35px
}

.l-m36 {
    margin-left: 36px
}

.l-m37 {
    margin-left: 37px
}

.l-m38 {
    margin-left: 38px
}

.l-m39 {
    margin-left: 39px
}

.l-m40 {
    margin-left: 40px
}

.l-m41 {
    margin-left: 41px
}

.l-m42 {
    margin-left: 42px
}

.l-m43 {
    margin-left: 43px
}

.l-m44 {
    margin-left: 44px
}

.l-m45 {
    margin-left: 45px
}

.l-m46 {
    margin-left: 46px
}

.l-m47 {
    margin-left: 47px
}

.l-m48 {
    margin-left: 48px
}

.l-m49 {
    margin-left: 49px
}

.l-m50 {
    margin-left: 50px
}

.l-m51 {
    margin-left: 51px
}

.l-m52 {
    margin-left: 52px
}

.l-m53 {
    margin-left: 53px
}

.l-m54 {
    margin-left: 54px
}

.l-m55 {
    margin-left: 55px
}

.l-m56 {
    margin-left: 56px
}

.l-m57 {
    margin-left: 57px
}

.l-m58 {
    margin-left: 58px
}

.l-m59 {
    margin-left: 59px
}

.l-m60 {
    margin-left: 60px
}

.l-m61 {
    margin-left: 61px
}

.l-m62 {
    margin-left: 62px
}

.l-m63 {
    margin-left: 63px
}

.l-m64 {
    margin-left: 64px
}

.l-m65 {
    margin-left: 65px
}

.l-m66 {
    margin-left: 66px
}

.l-m67 {
    margin-left: 67px
}

.l-m68 {
    margin-left: 68px
}

.l-m69 {
    margin-left: 69px
}

.l-m70 {
    margin-left: 70px
}

.l-m71 {
    margin-left: 71px
}

.l-m72 {
    margin-left: 72px
}

.l-m73 {
    margin-left: 73px
}

.l-m74 {
    margin-left: 74px
}

.l-m75 {
    margin-left: 75px
}

.l-m76 {
    margin-left: 76px
}

.l-m77 {
    margin-left: 77px
}

.l-m78 {
    margin-left: 78px
}

.l-m79 {
    margin-left: 79px
}

.l-m80 {
    margin-left: 80px
}

.l-m81 {
    margin-left: 81px
}

.l-m82 {
    margin-left: 82px
}

.l-m83 {
    margin-left: 83px
}

.l-m84 {
    margin-left: 84px
}

.l-m85 {
    margin-left: 85px
}

.l-m86 {
    margin-left: 86px
}

.l-m87 {
    margin-left: 87px
}

.l-m88 {
    margin-left: 88px
}

.l-m89 {
    margin-left: 89px
}

.l-m90 {
    margin-left: 90px
}

.l-m91 {
    margin-left: 91px
}

.l-m92 {
    margin-left: 92px
}

.l-m93 {
    margin-left: 93px
}

.l-m94 {
    margin-left: 94px
}

.l-m95 {
    margin-left: 95px
}

.l-m96 {
    margin-left: 96px
}

.l-m97 {
    margin-left: 97px
}

.l-m98 {
    margin-left: 98px
}

.l-m99 {
    margin-left: 99px
}

.l-m100 {
    margin-left: 100px
}

.l-m101 {
    margin-left: 101px
}

.l-m102 {
    margin-left: 102px
}

.l-m103 {
    margin-left: 103px
}

.l-m104 {
    margin-left: 104px
}

.l-m105 {
    margin-left: 105px
}

.l-m106 {
    margin-left: 106px
}

.l-m107 {
    margin-left: 107px
}

.l-m108 {
    margin-left: 108px
}

.l-m109 {
    margin-left: 109px
}

.l-m110 {
    margin-left: 110px
}

.l-m111 {
    margin-left: 111px
}

.l-m112 {
    margin-left: 112px
}

.l-m113 {
    margin-left: 113px
}

.l-m114 {
    margin-left: 114px
}

.l-m115 {
    margin-left: 115px
}

.l-m116 {
    margin-left: 116px
}

.l-m117 {
    margin-left: 117px
}

.l-m118 {
    margin-left: 118px
}

.l-m119 {
    margin-left: 119px
}

.l-m120 {
    margin-left: 120px
}

.flex {
    display: flex
}

.flex.f-wrap {
    flex-wrap: wrap
}

.flex.align-items-center {
    align-items: center
}

.flex.space-between {
    justify-content: space-between
}

.flex.jc-center {
    justify-content: center
}

.none {
    display: none
}

.block {
    display: block
}

.clear {
    clear: both
}

.clearfix {
    _display: inline-block
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden
}

.fleft0 {
    float: left;
    display: inline;
    text-align: center
}

.fleft1 {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center
}

.fleft2 {
    float: left;
    display: inline;
    margin-right: 30px;
    text-align: center
}

.fright0 {
    float: right;
    display: inline;
    text-align: center
}

.fright1 {
    float: right;
    display: inline;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center
}

.fright2 {
    float: right;
    display: inline;
    margin-left: 30px;
    text-align: center
}

.m5 {
    margin: 5px
}

.m10 {
    margin: 10px
}

.m15 {
    margin: 15px
}

.m20 {
    margin: 20px
}

.m30 {
    margin: 30px
}

.m40 {
    margin: 40px
}

.m50 {
    margin: 50px
}

.m75 {
    margin: 75px
}

.m100 {
    margin: 100px
}

.t-m5 {
    margin-top: 5px
}

.t-m10 {
    margin-top: 10px
}

.t-m15 {
    margin-top: 15px
}

.t-m20 {
    margin-top: 20px
}

.t-m30 {
    margin-top: 30px
}

.t-m40 {
    margin-top: 40px
}

.t-m50 {
    margin-top: 50px
}

.t-m75 {
    margin-top: 75px
}

.t-m100 {
    margin-top: 100px
}

.b-m5 {
    margin-bottom: 5px
}

.b-m10 {
    margin-bottom: 10px
}

.b-m15 {
    margin-bottom: 15px
}

.b-m20 {
    margin-bottom: 20px
}

.b-m30 {
    margin-bottom: 30px
}

.b-m40 {
    margin-bottom: 40px
}

.b-m50 {
    margin-bottom: 50px
}

.b-m75 {
    margin-bottom: 75px
}

.b-m100 {
    margin-bottom: 100px
}

.l-m5 {
    margin-left: 5px
}

.l-m10 {
    margin-left: 10px
}

.l-m15 {
    margin-left: 15px
}

.l-m20 {
    margin-left: 20px
}

.l-m30 {
    margin-left: 30px
}

.l-m40 {
    margin-left: 40px
}

.l-m50 {
    margin-left: 50px
}

.l-m70 {
    margin-left: 70px
}

.l-m75 {
    margin-left: 75px
}

.l-m100 {
    margin-left: 100px
}

.r-m5 {
    margin-right: 5px
}

.r-m10 {
    margin-right: 10px
}

.r-m15 {
    margin-right: 15px
}

.r-m20 {
    margin-right: 20px
}

.r-m30 {
    margin-right: 30px
}

.r-m40 {
    margin-right: 40px
}

.r-m50 {
    margin-right: 50px
}

.r-m75 {
    margin-right: 75px
}

.r-m100 {
    margin-right: 100px
}

.h-m5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.h-m10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h-m15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.h-m20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.h-m30 {
    margin-top: 30px;
    margin-bottom: 30px
}

.h-m40 {
    margin-top: 40px;
    margin-bottom: 40px
}

.h-m50 {
    margin-top: 50px;
    margin-bottom: 50px
}

.w-m5 {
    margin-left: 5px;
    margin-right: 5px
}

.w-m10 {
    margin-left: 10px;
    margin-right: 10px
}

.w-m15 {
    margin-left: 15px;
    margin-right: 15px
}

.w-m20 {
    margin-left: 20px;
    margin-right: 20px
}

.w-m30 {
    margin-left: 30px;
    margin-right: 30px
}

.w-m40 {
    margin-left: 40px;
    margin-right: 40px
}

.w-m50 {
    margin-left: 50px;
    margin-right: 50px
}

.p5 {
    padding: 5px
}

.p10 {
    padding: 10px
}

.p15 {
    padding: 15px
}

.p20 {
    padding: 20px
}

.p30 {
    padding: 30px
}

.p40 {
    padding: 40px
}

.p50 {
    padding: 50px
}

.p75 {
    padding: 75px
}

.p100 {
    padding: 100px
}

.t-p5 {
    padding-top: 5px
}

.t-p10 {
    padding-top: 10px
}

.t-p15 {
    padding-top: 15px
}

.t-p20 {
    padding-top: 20px
}

.t-p30 {
    padding-top: 30px
}

.t-p40 {
    padding-top: 40px
}

.t-p50 {
    padding-top: 50px
}

.t-p75 {
    padding-top: 75px
}

.t-p100 {
    padding-top: 100px
}

.b-p5 {
    padding-bottom: 5px
}

.b-p10 {
    padding-bottom: 10px
}

.b-p15 {
    padding-bottom: 15px
}

.b-p20 {
    padding-bottom: 20px
}

.b-p30 {
    padding-bottom: 30px
}

.b-p40 {
    padding-bottom: 40px
}

.b-p50 {
    padding-bottom: 50px
}

.b-p75 {
    padding-bottom: 75px
}

.b-p100 {
    padding-bottom: 100px
}

.l-p5 {
    padding-left: 5px
}

.l-p10 {
    padding-left: 10px
}

.l-p15 {
    padding-left: 15px
}

.l-p20 {
    padding-left: 20px
}

.l-p30 {
    padding-left: 30px
}

.l-p40 {
    padding-left: 40px
}

.l-p50 {
    padding-left: 50px
}

.l-p60 {
    padding-left: 60px
}

.l-p65 {
    padding-left: 65px
}

.l-p70 {
    padding-left: 70px
}

.l-p75 {
    padding-left: 75px
}

.l-p100 {
    padding-left: 100px
}

.r-p5 {
    padding-right: 5px
}

.r-p10 {
    padding-right: 10px
}

.r-p15 {
    padding-right: 15px
}

.r-p20 {
    padding-right: 20px
}

.r-p30 {
    padding-right: 30px
}

.r-p40 {
    padding-right: 40px
}

.r-p50 {
    padding-right: 50px
}

.r-p75 {
    padding-right: 75px
}

.r-p100 {
    padding-right: 100px
}

.h-p5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.h-p10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.h-p15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.h-p20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.h-p30 {
    padding-top: 30px;
    padding-bottom: 30px
}

.h-p40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.h-p50 {
    padding-top: 50px;
    padding-bottom: 50px
}

.h-p75 {
    padding-top: 75px;
    padding-bottom: 75px
}

.h-p100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.w-p5 {
    padding-left: 5px;
    padding-right: 5px
}

.w-p10 {
    padding-left: 10px;
    padding-right: 10px
}

.w-p15 {
    padding-left: 15px;
    padding-right: 15px
}

.w-p20 {
    padding-left: 20px;
    padding-right: 20px
}

.w-p30 {
    padding-left: 30px;
    padding-right: 30px
}

.w-p40 {
    padding-left: 40px;
    padding-right: 40px
}

.w-p50 {
    padding-left: 50px;
    padding-right: 50px
}

.w-p75 {
    padding-left: 75px;
    padding-right: 75px
}

.w-p100 {
    padding-left: 100px;
    padding-right: 100px
}

.tcenter {
    text-align: center
}

.tright {
    text-align: right
}

.tleft {
    text-align: left
}

.ttext {
    text-indent: 1em;
    text-align: justify
}

.tkome {
    padding-left: 1em;
    text-indent: -1em
}

.tinline {
    display: inline-block
}

.toverflow {
    overflow: hidden;
    zoom: 1
}

.scroll {
    height: 250px;
    overflow-y: scroll
}



.base {
    color: #0060C0;
}
.sub {
    color: #e9c602;
}
.sub2 {
    color: #66a5e5;
}

.mint{
    color:#6ad1c8 ;
}



.orange2 {
    color: #ffc49f;
}

.orange3 {
    color: #FCF5EF;
}


.red {
    color: red;
}

.blue {
    color: #0068b7;
}

.green {
    color: #448f42;
}

.green2 {
    color: #80c269;
}

.skyblue {
    color: #029fe6;
}

.magenta {
    color: #636;
}

.white {
    color: #fff;
}

.brown {
    color: #89714d;
}

.antique {
    color: #c1ab05;
}

.pink {
    color: #FF9888;
}

.darkpink {
    color: #9e005d;
}

.black {
    color: #000;
}

.yellow {
    color: #fff45c
}

.f-s8 {
    font-size: 8px
}

.f-s10 {
    font-size: 10px
}

.f-s11 {
    font-size: 11px
}

.f-s12 {
    font-size: 12px
}

.f-s13 {
    font-size: 13px
}

.f-s14 {
    font-size: 14px
}

.f-s15 {
    font-size: 15px
}

.f-s16 {
    font-size: 16px
}

.f-s18 {
    font-size: 18px
}

.f-s20 {
    font-size: 20px
}

.f-s22 {
    font-size: 22px
}

.f-s24 {
    font-size: 24px
}

.marker-c {
    background: linear-gradient(transparent 70%, #a8d8fa 0%);
    z-index: 0
}

.marker-m {
    background: linear-gradient(transparent 70%, #ff7c81 0%);
    z-index: 0
}

.marker-y {
    background: linear-gradient(transparent 10%, #ffe99f 0%);
    z-index: 0;
    padding: 0 4px
}

.marker-k {
    background: linear-gradient(transparent 70%, #cccccc 0%);
    z-index: 0
}

.marker-p {
    background: linear-gradient(transparent 70%, #ffd0e1 0%);
    z-index: 0
}

.bg-orange {
    background-color: #ffefd6
}

.bg-red {
    background-color: red
}

.bg-blue {
    background-color: #0068b7
}

.bg-green {
    background-color: rgba(141, 173, 173, .5)
}

.bg-skyblue {
    background-color: #029fe6
}

.bg-magenta {
    background-color: #636
}

.bg-yellow {
    background-color: #fffdde
}

.bg-white {
    background-color: #fff
}

.bg-pink {
    background-color: #FF9888;
}

.bg-darkpink {
    background-color: #9e005d
}

.bg-black {
    background-color: #000
}

.bg-111 {
    background-color: #111
}

.bg-222 {
    background-color: #222
}

.bg-333 {
    background-color: #333
}

.bg-aaa {
    background-color: #aaa
}

.bg-bbb {
    background-color: #bbb
}

.bg-ccc {
    background-color: #ccc
}

.bg-ddd {
    background-color: #ddd
}

.bg-eee {
    background-color: #eee
}

.link li {
    margin-bottom: 10px
}

.link li img {
    width: 100%;
    height: auto
}

.flink0,
.flink1,
.flink2 {
    width: 100%;
    margin: 10px 0
}

.flink0 ul {
    margin-right: -11px
}

.flink1 ul {
    margin-right: -11px;
    margin-bottom: -10px
}

.flink2 ul {
    margin-right: -21px;
    margin-bottom: -20px
}

.flink0 li {
    float: left
}

.flink1 li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px
}

.flink2 li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px
}

.img-r {
    border-radius: 10px
}

.img-maru {
    border-radius: 1000px
}

.img-b {
    border: 2px solid #fff
}

.img-sd {
    border: 3px solid #fff;
    box-shadow: rgba(0, 0, 0, .1) 1px 1px 3px 0
}

.img-frame {
    position: relative;
    z-index: 0
}

.img-frame:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    transform: rotate(3deg);
    background: #fff;
    z-index: -1
}

.blinking {
    -webkit-animation: blink 1.5s ease-in-out infinite alternate;
    animation: blink 1.5s ease-in-out infinite alternate
}

@-webkit-keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

hr {
    clear: both;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.hr-gd {
    border: 0;
    height: 1px;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}

.hr-shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, .5)
}

.scrollbar {
    min-height: 100px;
    max-height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    padding-right: 20px
}

.scrollbar.top-news {
    min-height: 70px;
    max-height: 210px
}

@media screen and (max-width: 639px) {
    .scrollbar.top-news {
        min-height: 100px;
        max-height: 200px
    }
}

.scrollbar.modal {
    max-height: 500px
}

/* @media screen and (max-width:) {
    .scrollbar.modal {
        max-height: 200px
    }
} */

@media screen and (max-width: 639px) {
    .scrollbar.modal {
        max-height: 350px
    }
}

.scrollbar.policy-box {
    max-height: 180px
}

.scrollbar::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa
}

.scrollbar::-webkit-scrollbar:horizontal {
    height: 1px
}

.scrollbar::-webkit-scrollbar-button {
    display: none
}

.scrollbar::-webkit-scrollbar-piece {
    background: #eee
}

.scrollbar::-webkit-scrollbar-piece:start {
    background: #eee
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-corner {
    background: #333
}


/*# sourceMappingURL=common.css.map */